nav {
  height: 100vh;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding-left: 8px;
}

nav ul {
  padding: 0;
  list-style: none;
}
